@model Q.Models.Theme

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Theme</h4>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr />
<div class="row flex justify-content-center">
    <div class="col-md-4 menu-box">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group  m-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="HexForgroundColor" class="control-label"></label>
                <input type="color" asp-for="HexForgroundColor" class="form-control" />
                <span asp-validation-for="HexForgroundColor" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="HexBackgroundColor" class="control-label"></label>
                <input type="color" asp-for="HexBackgroundColor" class="form-control" />
                <span asp-validation-for="HexBackgroundColor" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
