
@{
    ViewData["Title"] = "DateTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search</h1>

<h4>Date</h4>

<p>
    <a asp-action="Index" asp-controller="Home">Back to home</a>
</p>

<hr />
<div class="row">
    <div class="col-md-4">
         <form asp-action="DateTasks">
            
            <div class="form-group">
                <label for="date" class="control-label"></label>
                <input type="date" name="date" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
