@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div class="row flex justify-content-between">
    <h1 class="col-6">Manage your account</h1>

    <a class="col-3 btn btn-primary" href="/Home">Back to Home</a>
</div>



<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row menu-box">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
